<div class="container center">
    <h4 class="blue-grey-text lighten-5">{{ .Title }}</h4>
<!-- 
    <div class="container">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div> -->

</div> <br>

<div class="container center images">
    <img src="img/about-hero.jpg" alt="" class="circle">
    <div class="container white-text">
        <p>
            {{ .Site.Params.desc }}
        </p>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header grey darken-4 z-depth-3">
                    <i class="fas fa-headphones"></i>{{ .Site.Params.aboutTitle}}</div>
                <div class="collapsible-body about"><span>{{ .Site.Params.about }}</span></div>
            </li>
        </ul>

        <div>
            <ul>
                {{ range .Site.Params.icons }}
                <li class="horizontal"><a class="blue-grey-text" href="{{ .link }}"><i class="{{ .icon }}"></i></a></li>
                {{ end}}
            </ul>
        </div>
    </div>
</div>