<footer class="page-footer grey darken-4 center">
    <div class="container">
        <div class="footer-copyright">
            <div class="col m6 s12">
                © 2021 Copyright
            </div>

            <div class="col m6 s12 hover">
                <ul>
                    <li>
                        <a href="{{ .Site.Params.terms }}" target="_blank" rel="noopener noreferrer">Terms of
                            Services</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>