<header style="position:fixed; left:20px; bottom:45px; z-index: 9999;">
  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Menu</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    {{ $siteLanguages := site.Languages}}
    {{ $pageLang := .Page.Lang}}
    {{- range .Page.AllTranslations }}
    {{ $translation := . }}
    {{- range sort $siteLanguages "Weight" "asc" }}
    {{- if eq $translation.Lang .Lang }}
    {{ if eq $pageLang .Lang}}

    <!-- <div class="center">
      

    </div> -->


    <!-- Switch -->
    <div class="switch center">
      <label>
        <a href="{{ $translation.Permalink | relURL }}">
        </a>{{ .Params.languageName }}{{ .Params.languageFlag }}
        {{ else }}
        <input id="get" type="checkbox" onclick="hyClick()">

        <span class="lever"></span>
        <a href="{{ $translation.Permalink | relURL }}">
        </a>{{ .Params.languageName }}{{ .Params.languageFlag }}
      </label>
    </div>


    {{ end }}
    {{- end }}
    {{- end }}
    {{- end }}

    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{.Name}}</a></li>
    {{ end }}
  </ul>

</header>