<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
    {{- partial "head.html" . -}}
    <body class="grey darken-4">
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}

        {{ range .Site.Params.plugins.js }}
        <script src="{{ .URL | absURL }}"></script>
        {{ end }}
        <script src="plugins/jquery/jquery.min.js"></script>
        <script src="plugins/js/initialize.js"></script>
        <script src="https://kit.fontawesome.com/00c6815820.js" crossorigin="anonymous"></script>
    </body>
</html>

