{{ define "main" }}

<div class="container">
  <h4 class="center white-text">{{ .Title }}</h4>
  <div class="divider"></div><br>

  <div class="blue-grey-text">
    {{ .Content }}
  </div>
</div>

<ul class="pagination center">
  <li class="disabled"><a href="#!"><i class="fas fa-arrow-left"></i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!"><i class="fas fa-arrow-right"></i></a></li>
</ul>


{{ end }}