<div class="container">
    <div class="row">
        <div class="col m4 s12">
            {{ if .IsNamedParams }}
            <img class="materialboxed responsive-img" data-caption="{{ .Get "caption" }}" width="300"
                src="{{.Get "src" }}" alt="">
            {{ else }}
            <img class="materialboxed responsive-img" data-caption="{{ .Get "caption" }}" width="300" src="{{.Get 0}}"
                alt="">
            {{ end }}
        </div>


        <!-- hardcoding images -->

        <!-- <div class="col m4 s12">
            <img src="/portfolio/keum.png" alt="" class="materialboxed responsive-img">
        </div>

        <div class="col m4 s12">
            <img src="/portfolio/man.png" alt="" class="materialboxed responsive-img">
        </div> -->

        <!-- belum nemu solusi coding img -->

    </div>
</div>